<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>居中展示图片</title>
    <style>
        body {
            background-color: white;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .image-container {
            text-align: center;
            padding: 20PX;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<div class="image-container">
    <img src="01.png" alt="">
</div>

</body>
</html>
